<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://external-preview.redd.it/lS15HBEbnBjBnAHpKJ2-CrMylW1sNSA0KJ7gDcg5ADk.jpg?auto=webp&s=1754f6602a1bf91485fdedb2b7c5c5708b38e10b);">
  <div class="container">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p></p>
    <div class="row justify-content-left">
      <div class="col-sm-4 my-3">

      </div>
    </div>
  </div>
  <%= cl_image_tag @user.photo.key, class: "page-avatar" %>
</div>

<div class="row row-cols-1 row-cols-md-3">
  <% @items.each do |item| %>

      <div class="col">
        <div class="card" style="width: 18rem; ">
           <%= link_to item_path(item), style:"text-decoration: none; color: black" do %>
          <img style="height: 150px; object-fit: cover; object-position: center" class="card-img-top" src="<%= cl_image_path item.photo.key %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text"><%= item.description %></p>
            </div>
          <% end %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= item.brand %></li>
            <li class="list-group-item"><span>Size: </span><%= item.size %> Meters</li>
            <li class="list-group-item"><span>Price: </span><%= item.price %>€/K</li>
          </ul>
        </div>
      </div>

  <% end %>
</div>
